<mat-card class="m-3">
                  <mat-card-header>
                    <mat-card-title>Lista de curriculums</mat-card-title>
                  </mat-card-header>

                  <mat-card-content>
                    @if (isLoading) {
                      <div class="d-flex justify-content-center">
                        <mat-spinner diameter="40"></mat-spinner>
                      </div>
                    } @else {
                      @if (resumes.length === 0) {
                        <div class="p-3">
                          <span class="text-medium">No hay curriculums disponibles.</span>
                        </div>
                      }

                      @if (resumes.length > 0) {
                        <div>
                          <p class="text-primary">Total resumes: {{resumes.length}}</p>

                          <mat-list>
                            @for (resume of resumes; track resume.id) {
                              <mat-list-item>
                                <div matListItemTitle>{{ resume?.name }}</div>
                                <div matListItemLine>{{ resume?.email }}</div>
                              </mat-list-item>
                            }
                          </mat-list>
                        </div>
                      }
                    }
                  </mat-card-content>
                </mat-card>
